body{
    
    background-color: black;
    margin: auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 10px;
    height: 50px;
    font-size: 1.4rem;
}
.produits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
a{
   
    color:inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    background-image: url(http://localhost:3000/images/vcam_2.jpg) ;
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 4px white;
}
h2{
    display: flex;
    justify-content: center;
}
.introduction{
    color: white;
}
/*header::before{
    content:"";
}*/
.produit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
img{
    width: 320px;
    height: 320px;
    border-radius: 15px;
    
}
figure{
    width: 320px;
    height: 320px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 4px white;
}
figcaption{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgba(12, 12, 12, 0.801) ;
    color: white;
    margin-top: -40px;
    position: relative;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-shadow: 0px 0px 20px 2px white;
}
footer{
    display: flex;
    align-items: center;
    background-color: rgb(12 12 12 / 30%) ;
    height: 50px;
    color: white;
    box-shadow: 0px 0px 20px 2px white;
    
}
.contact{
    margin-left: 20px;
    font-size: 1.4rem;
}

/*-----------panier---------*/
.main-panier{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.container-produit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: 2px solid;
    width: 50%;
    background-color: #e8e5e5;
    border-radius: 12px;
    box-shadow:0px 0px 20px 4px white;
   
}
.panier-produit{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    font-size: 1.2rem;
}
.montant-total{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgb(128, 0, 11);
    font-size: 1.3rem;
}


#formulaireCommande{
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    background-color: #e8e5e5;
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 4px white;
    width: 55%;
    margin: auto;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
}

/*commande*/
#commande{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    margin: 16vh;
    font-size: 1.2rem;
    background-color: #e8e5e5;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 4px white;
}
label{
    margin: 10px;
    font-size: 1.2rem;
 
}

.affichage-prix-html {
    text-align: center;
    color: red;
    font-size: 1.6rem;
}

/*button*/
button{
    width: 55%;
    margin-left: 25%;
    background-color: black;
    border-radius: 5px;
    font-size: 1.1rem;
    color: rgb(68 239 89);
    box-shadow: 0px 0px 20px 2px white;
    cursor: pointer;
}
button.btn-vider-panier{
    background-color: black;
    color: red;
}
button.btn-supprimer {
    width: 100%;
    margin-left: 0;
    color: red;
    background-color: black;
    border-radius: 5px;
}
@media screen and (max-width:600px){


    .container-produit{
        width: 80%;
    }
    #formulaireCommande{
        width: 80%;
    }

}